/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Rofi Theme File
 * Rofi Version: 1.7.3
 **/

/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
    show-icons:                 true;
    display-drun:               "";
	drun-display-format:        "{name}";
}

/*****----- Global Properties -----*****/
@import                          "shared/colors.rasi"
@import                          "shared/fonts.rasi"

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       750px;
    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            @background;
    cursor:                      "default";
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     10px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                @selected;
    background-color:            transparent;
    children:                    [ "inputbar", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     12px;
    border:                      1px solid;
    border-radius:               4px;
    border-color:                @selected;
    background-color:            @background;
    text-color:                  @foreground;
    children:                    [ "prompt", "entry" ];
}

prompt {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "::";
    background-color:            inherit;
    text-color:                  inherit;
}
entry {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Search";
    placeholder-color:           inherit;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     6;
    lines:                       3;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     0px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}
scrollbar {
    handle-width:                5px ;
    handle-color:                @selected;
    border-radius:               0px;
    background-color:            @background-alt;
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     15px;
    margin:                      0px;
    padding:                     20px 10px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    orientation:                 vertical;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            transparent;
    text-color:                  @foreground;
}
element selected.normal {
    border:                      1px solid;
    border-radius:               4px;
    border-color:                @selected;
    background-color:            @background;
    text-color:                  @foreground;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        64px;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}

/*****----- Message -----*****/
error-message {
    padding:                     10px;
    border:                      1px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            black / 10%;
    text-color:                  @foreground;
}
textbox {
    background-color:            transparent;
    text-color:                  @foreground;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    highlight:                   none;
}

* {
  rosewater: #f5e0dc;
  flamingo: #f2cdcd;
  pink: #f5c2e7;
  mauve: #cba6f7;
  red: #f38ba8;
  maroon: #eba0ac;
  peach: #fab387;
  yellow: #f9e2af;
  green: #a6e3a1;
  teal: #94e2d5;
  sky: #89dceb;
  sapphire: #74c7ec;
  blue: #89b4fa;
  lavender: #b4befe;
  text: #cdd6f4;
  subtext1: #bac2de;
  subtext0: #a6adc8;
  overlay2: #9399b2;
  overlay1: #7f849c;
  overlay0: #6c7086;
  surface2: #585b70;
  surface1: #45475a;
  surface0: #313244;
  base: #1e1e2e;
  mantle: #181825;
  crust: #11111b;
}

* {
  selected-active-foreground:  @background;
  lightfg:                     @text;
  separatorcolor:              @foreground;
  urgent-foreground:           @red;
  alternate-urgent-background: @lightbg;
  lightbg:                     @mantle;
  background-color:            transparent;
  border-color:                @foreground;
  normal-background:           @background;
  selected-urgent-background:  @red;
  alternate-active-background: @lightbg;
  alternate-normal-foreground: @foreground;
  urgent-background:           @background;
  selected-normal-foreground:  @lightbg;
  active-foreground:           @blue;
  background:                  @base;
  selected-active-background:  @blue;
  active-background:           @background;
  selected-normal-background:  @mauve;
/*  selected-normal-background:  @lightfg;*/
  alternate-normal-background: @lightbg;
  foreground:                  @text;
  selected-urgent-foreground:  @background;
  normal-foreground:           @foreground;
  alternate-urgent-foreground: @red;
  alternate-active-foreground: @blue;

}
element {
    cursor:  pointer;
}
element normal.normal {
    background-color: @normal-background;
    text-color:       @normal-foreground;
}
element normal.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-foreground;
}
element normal.active {
    background-color: @active-background;
    text-color:       @active-foreground;
}
element selected.normal {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}
element selected.urgent {
    background-color: @selected-urgent-background;
    text-color:       @selected-urgent-foreground;
}
element selected.active {
    background-color: @selected-active-background;
    text-color:       @selected-active-foreground;
}
/*
element alternate.normal {
    background-color: @alternate-normal-background;
    text-color:       @alternate-normal-foreground;
}
element alternate.urgent {
    background-color: @alternate-urgent-background;
    text-color:       @alternate-urgent-foreground;
}
element alternate.active {
    background-color: @alternate-active-background;
    text-color:       @alternate-active-foreground;
}*/
window {
    background-color: @background;
}
message {
    border-color: @separatorcolor;
}
textbox {
    text-color: @foreground;
}
listview {
    scrollbar:    true;
    border-color: @separatorcolor;
}
scrollbar {
    handle-color: @normal-foreground;
}
sidebar {
    border-color: @separatorcolor;
}
button {
    cursor:     pointer;
    text-color: @normal-foreground;
}
button selected {
    background-color: @selected-normal-background;
    text-color:       @selected-normal-foreground;
}
num-filtered-rows {
    expand:     false;
    text-color: Gray;
}
num-rows {
    expand:     false;
    text-color: Gray;
}
textbox-num-sep {
    expand:     false;
    str:        "/";
    text-color: Gray;
}
inputbar {
    text-color: @normal-foreground;
    children:   [ "prompt","textbox-prompt-colon","entry","num-filtered-rows","textbox-num-sep","num-rows","case-indicator" ];
}
case-indicator {
    text-color: @normal-foreground;
}
entry {
    text-color:        @normal-foreground;
    cursor:            text;
    placeholder-color: Gray;
    placeholder:       "Type to filter";
}
prompt {
    text-color: @normal-foreground;
}
textbox-prompt-colon {
    str:        ":";
    text-color: inherit;
}
